[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "rofi/rofi"]
	path = rofi/rofi
	url = https://github.com/DaveDavenport/rofi.git
